# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os
os.chdir('/Users/jcano/src/repos/SF-DAT-20/Data/') #PLEASE SET THIS WORKING DIRECTORY TO YOURS
data = pd.read_csv('ozone.csv')

In [3]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [7]:
#hint check data.columns.values and use a for loop to show values line by line
cols = data.columns
for col in cols:
    print col

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [8]:
data[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [9]:
data.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [12]:
data[47:48]

    Ozone  Solar.R  Wind  Temp  Month  Day
47     37      284  20.7    72      6   17

How many missing values are in the Ozone column of this data frame?

In [99]:
rd = data[pd.isnull(data['Ozone']) == True]

count = 0
for i in rd.Ozone:
    count += 1
count

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [80]:
data['Ozone'][47:48]

47    37
Name: Ozone, dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [88]:
rd = data[(data.Ozone > 31) & (data.Temp > 90)]
rd

     Ozone  Solar.R  Wind  Temp  Month  Day
68      97      267   6.3    92      7    8
69      97      272   5.7    92      7    9
119     76      203   9.7    97      8   28
120    118      225   2.3    94      8   29
121     84      237   6.3    96      8   30
122     85      188   6.3    94      8   31
123     96      167   6.9    91      9    1
124     78      197   5.1    92      9    2
125     73      183   2.8    93      9    3
126     91      189   4.6    93      9    4

What is the mean of "Temp" when "Month" is equal to 6?

In [50]:
data[data.Month == 6].mean()

Ozone       29.444444
Solar.R    190.166667
Wind        10.266667
Temp        79.100000
Month        6.000000
Day         15.500000
dtype: float64

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [52]:
data[data.Month == 5]['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas