In [3]:
#Joshua Cano 2-7-16
import pandas as pd
import numpy as np
data = pd.read_csv('titanic.csv')

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [82]:
#1. How many passengers in data set
data["PassengerId"].count()

891

In [11]:
#2. How many passengers survived
survived = data[data["Survived"] == 1]["Survived"]
survived.count()

342

In [13]:
#2. overall Survival Rate
float(survived.count()) / data["Survived"].count()

0.3838383838383838

In [25]:
#3-4. Passengers broken down by Sex
gb = data.groupby("Sex")
gb["PassengerId"].count()

Sex
female    314
male      577
Name: PassengerId, dtype: int64

In [83]:
#5. Male Survival Rate
male = data["Sex"] == "male"
survived = data["Survived"] == 1
maleSurvivals = data[male & survived] 
maleSurvivalRate = float(maleSurvivals["Survived"].count()) / data[male]["Survived"].count()
maleSurvivalRate

0.18890814558058924

In [91]:
#6. Female Survival Rate
female = data["Sex"] == "female"
femaleSurvivals = data[female & survived] 
femaleSurvivalRate = float(femaleSurvivals["Survived"].count())/ data[female]["Survived"].count()
femaleSurvivalRate

0.7420382165605095

In [173]:
#7. Average age of people on Ship, for Customers with no age I dismissed them from the sample set. 
noAge = pd.isnull(data["Age"]) == True

withAge = pd.isnull(data["Age"]) == False

print(data[withAge]["Age"].mean())
print(data["Age"].mean())

#ALternate solution assing Random Integers to items with missing data
np.random.seed(122)
data["ComputedAge"] = data["Age"].where(pd.isnull(data["Age"]) == False, np.random.random_integers(low=0, high=data["Age"].max(), size=data["PassengerId"].count()))
data.head()
print(data["ComputedAge"].mean())

29.6991176471
29.6991176471

31.911526374859708

In [130]:
#8. Average age of people who survived
data[survived]["Age"].mean()

28.343689655172415

In [131]:
#9. Average age of people who did not survive
notSurvived = data["Survived"] == 0
data[notSurvived]['Age'].mean()

30.62617924528302

10. At this point, we can surmise that Age played little to do with who survived from the ship. We can see that 75% of females survived from the ship and 19% of males survived.

In [132]:
#11. Passengers in each of the three classes of service
data.groupby("Pclass")["PassengerId"].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [93]:
#12. Survival Rate for All Passengers
for i in range(1,4):
    pclass = data["Pclass"] == i
    survivalRate = float(data[pclass & survived]["Survived"].count())/ data[pclass]["Survived"].count()
    print ("Survival Rate for Pclass {}: {}").format(i, survivalRate)

Survival Rate for Pclass 1: 0.62962962963
Survival Rate for Pclass 2: 0.472826086957
Survival Rate for Pclass 3: 0.242362525458

In [ ]:
#12b. Survival Rate for Females
for i in range(1,4):
    pclass = data["Pclass"] == i
    survivalRate = float(data[pclass & survived & female]["Survived"].count())/ data[pclass & female]["Survived"].count()
    print ("Survival Rate for Pclass {}: {}").format(i, survivalRate)

13. We can easily conclude that for survival rate, Class of passenger played the most important part in whether or not a person survived.

In [198]:
#13b. It seems a majority of the infants and youths survived, however 90% of passengers seem to be older than 16
infants = data["Age"] < 4
youth = data["Age"] <= 16
adult = data["Age"] > 16
elderly = data["Age"] > 60
infantsSurvivalRate = float(data[infants & survived]["Survived"].count()) / data[infants]["Survived"].count()
youthSurvivalRate = float(data[youth & survived]["Survived"].count()) / data[youth]["Survived"].count()
adultSurvivalRate = float(data[adult & survived]["Survived"].count()) / data[adult]["Survived"].count()
elderlySurvivalRate = float(data[elderly & survived]["Survived"].count()) / data[elderly]["Survived"].count()
percentYouthInfants = float(data[infants | youth]["Survived"].count()) / data["Survived"].count()
print(infantsSurvivalRate)
print(youthSurvivalRate)
print(adultSurvivalRate)
print(elderlySurvivalRate)
print(percentYouthInfants)

data["Cabin"].count()

0.666666666667
0.55
0.382736156352
0.227272727273
0.112233445567

204

14. We would leave out age for a predictive model as this seems to not play a large role in predicting survival, also it seems that the majority of the passengers were over 16. Pclass and ticket fare seem to be somewhat interchangeable, where one is basically an aggregate for another. Cabin data seems to be only present for under a quarter of all items so this may not be relevant. Name also seems unimportant in this analysis.